@charset "utf-8";
/* CSS Document */


/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1920px) {
    .footer_background{
        height: 100vh;
 
    }

    .show_tablet{
        display: none;
    }

    .our_projects_pad{
       padding-bottom: 25px
    }


}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1366px) {

	
}


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1280px) {



}


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {
    .footer_link_list{
        display: none;
    }
    .footer_img{
        display: none;
    }


}


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1024px) {



}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {

    .hide_medium{
        display: none !important;
    }


}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

    .contact_input {
        width: 70%;}
    
        .contact_input_msg {
            width: 70%;}

              .products_page_top_heading{
    margin-top: 200px;
  }

.products_page_top_heading{
    margin-top: 110px;
}

.products_page_top_img {
    padding: 80px 40px 80px 40px;
}

.products_page_product_card_text_part {
    padding: 20px 30px 50px 30px;
}    

.product_price_mySlidestwo{
    flex-direction: column;
}

.top-card-top_row{
    margin-bottom: 50px;
}

.product_price_mySlidesthree{
    flex-direction: column;
}

.product_price_mySlides{
    flex-direction: column;
}

.product_price_mySlides1{
    flex-direction: column;
}

.product_price_mySlidesfour{
    flex-direction: column;
}

.hide_tablet{
    display: none !important;
}

.contact_input{
    width: 100%;
    
  }
  
  .contact_input_msg{
    width: 100%;
  }

  .products_page_top_middle_line {
    border-left: 0px solid black;
}

.copyRight_text{
    font-size: medium;
    padding: 30px 62px;
}

.certification_aboutus{
    flex-direction: column;
    padding: 0;
}

.about_sec_text_section {
    padding-top: 40px;
}

/* about us page */

.aboutus_top_row{
    height: 140px;
  }

.abouts_us_heading {
    font-size: 55px;
}

.box_team {
    position: relative;
    width: 12rem;
    height: 12rem;
    margin: 3rem 0rem;
}

.imgBox_team img {
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    resize: both;
}

.certi_aboutus {
    padding: 20px;
}

.about_us_first_t {
    margin-top: 34px;
    font-size: 20px;
}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 767px) {

    .contact_input {
        width: 100%;}
    
        .contact_input_msg {
            width: 100%;}

    .footer_background{
        height: 220vh;

    }

    .contact_box{
        margin-top: 100px;
    }

    .footer_row {
        padding-top: 10px;
    }

    .footer_mob_padding{
        padding: 10px 121px;
    }

    .inate {
        position: relative;
        bottom: -95px;
        text-align: center;
    }

    .top-logo {
            position: absolute;
    }    
    .smcenter{
        text-align: center !important;
    }
    .wrapper {
   
        bottom: 55px;
        left: 109px;
    }

    .client_text {
        text-align: justify;
        width: 300px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .show_tablet{
        display: block;
        position: absolute;
    }
    .land_sec_text {
        position: relative;
        bottom: -37px;
        left: -56px;
    
    }

    .land_sec_heading{
        font-size: 45px;
      }

    .product-text {
        padding: 29px;
    }


}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

    .smcenter{
        text-align: center !important;
    }

    .smimgpadding{
        padding: 0 30px;
    }

    .floorpadding{
        padding: 20px 30px;
    }

    .footer_mob_padding {
        padding: 10px 63px;
    }


}

/* Custom, iPhone Retina */
@media only screen and (max-width : 375px) {

    .smcenter{
        text-align: center !important;
    }

    .smimgpadding{
        padding: 0 30px;
    }

}


/* Custom, iPhone Retina */
@media only screen and (max-width : 360px) {



}


@media only screen and (max-width : 320px) {



}