html{
    overflow-x: hidden;
}

/* homepage css */

.top-logo{
    position: fixed;
    float: left;
    top: 10px;
    left: 30px;
    z-index: 9;
}

h1{
    color: #292A77;
}

p{
    color: #2F2B2B;
    font-weight: lighter;
}

.product-row{
    margin-top: 70px;
    margin-bottom: 70px;
    
}

.product-text{
    padding: 0px 137px;
}

.projects_row{
    height: 650px;
    background-color: #F2F3EF;
    padding-top: 70px;
}


/* homepage css end */


/* Inner pages css */
.inner_back{
background-image: url('../images/inner_background.png');
height: auto;
}

.inner_page_shape{                                      
position: absolute;
top: 100px;
right: 0px;     
}

/* Inner pages css end */




/* Inner page product css */

.products_page_first_hr{
    width: 300px;
}

.products_page_top{
    margin-bottom: 40px;
}

.products_page_top_img{
    margin-bottom: 50px;
    margin-left: 110px;
}

.products_page_top_middle_line{
    border-left: 1px solid black;
}

.inner_page_triangle_shape{                                      
    position: relative;
    top: 100px;
    right: 0px;
    width: 100%;
    }

.products_page_section_two{
    margin-top: 150px;
    margin-bottom: 50px;
    text-align: center;
}

.products_page_product_card{
    margin-bottom: 50px;
}

.products_page_product_card_text_part{
    padding: 0px 100px;
}

.products_page_product_card_info_text{
    font-weight: 600;
    color: #292A77;
}
/* Inner pages product css end */

