html{
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}
::-webkit-scrollbar {

	
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #868686; 
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  height:10px;
  background: #292A77; 
  border-radius: 10px;
  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fff; 
}



.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
}

.arrows path {
  stroke: #ffffff;
  fill: transparent;
  stroke-width: 2px;  
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
  animation-delay:-1s;
  -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay:-0.5s;
  -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 { 
  animation-delay:0s;
  -webkit-animation-delay:0s; /* Safari 和 Chrome */
}


/* From cssbuttons.io by @alexmaracinaru */
.cta {
  border: none;
  background: none;
  margin-top: 10px;
 }
 
 .cta span {
  padding-bottom: 7px;
  letter-spacing: 3px;
  
  padding-right: 15px;
  text-transform: uppercase;
 }
 
 .cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
 }
 
 .cta:hover svg {
  transform: translateX(0);
 }
 
 .cta:active svg {
  transform: scale(0.9);
 }
 
 .hover-underline-animation {
  position: relative;
  color: #292A77;
  padding-bottom: 20px;
 }
 
 .hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
 }
 
 .cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
 }

/* homepage css */

.land_sec_text{
  
  position: relative;
  bottom: 180px;
}

.land_sec_heading{
  color: #292A77;
  font-weight: bold;
  font-size: 90px;
 
}
.land_sec_hr{
  width: 550px;
  position: relative;
  left: 20px;
  color: #000;
}

.land_sec_desc{
  
  font-weight:400;
  	
  position: relative;
  left: 10px;
  
}
.carousel-indicators [data-bs-target] {
  
  width: 20px;
  height: 20px;
  margin-right: 20px;
  background-color: #ffffff;
  
}
.carousel-indicators {
  position: absolute;
   left:-124px ; 
  bottom: 213;
  
  z-index: 2;
  display: flex;
  justify-content: left;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none;
}
.carousel-control-next-icon{
  left: 80px;
  position: relative;
}

.carousel-control-prev-icon {
position: relative;
right: 80px;

}



.carousel-control-next-icon, .carousel-control-prev-icon {
  display: inline-block;
  width: 5rem;
  height: 3rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
  
}


.top-logo{
    position: fixed;
    float: left;
    top: 10px;
    left: 30px;
    z-index: 9;
}

h1{
    color: #292A77;
}

p{
    color: #2F2B2B;
    font-weight: lighter;
}

.product-row{
    margin-top: 70px;
    margin-bottom: 70px;
    
}

.product-text{
    padding: 0px 137px;
}


.projects_row{
    
    
    padding-top: 70px;
    padding-bottom: 70px;
}
.project_slide_text1{
    padding:0px 200px;
    position: relative;
    right: 120px;
    
    font-weight: bold;
    font-size: 30px;
}

.slider_arrow_projects_left{
    
    left: 200px;
}
.slider_arrow_projects_right{
    
right: -50px;
}

.project_slide_text2{
    padding:0px 200px;
    position: relative;
    right: 120px;
    
}
.project_slide_text3{
    padding:0px 200px;
    position: relative;
    right: 120px;
    
}
.projects_slide_home{
   
    
    height: 100%;
    position: relative;
    left: 30px;
}

div#quad { 
  background-color: #000; 
  font-size: 0; width: 100%; 
  margin: 0 auto;
  
}
div#quad figure { 
  margin: 0; width: 50%; 
  height: auto; transition: 1s; 
  display: inline-block; 
  position: relative; overflow: hidden; 
}
div#quad figure:hover { cursor: pointer; z-index: 4; }
div#quad figure img { width: 100%; height: auto; }
div#quad figure:nth-child(1) { transform-origin: top left; }
div#quad figure:nth-child(2) { transform-origin: top right; }
div#quad figure:nth-child(3) { transform-origin: bottom left; }
div#quad figure:nth-child(4) { transform-origin: bottom right; }
div#quad figure figcaption { 
  margin: 0; opacity: 0; 
  background: rgba(0,0,0,0.3); 
  color: #fff; padding: .3rem; 
  font-size: 1.2rem; 
  position: absolute; 
  bottom: 0; width: 100%;
	transition: 1s 1s opacity; 
}
.expanded { transform: scale(2); z-index: 5;  }
div#quad figure.expanded figcaption { opacity: 1; }
div.full figure:not(.expanded) { pointer-events: none; }


.splide__pagination{
    left: 300px;

}

.project_slice_whitebox{
    background-image: url('../images/project_slide_whitebox.png');
height: 100%;
background-repeat: no-repeat;
position: relative;
left: 250px;
padding-top: 100px;


}

.project_slider_image{
    position: relative;
    top: 70px;
    left: 90px;
    z-index: 8;
}

.pagination{
    margin: 30px;

}

.clients_sec{
  
  padding-bottom: 30px;
}

.client_text{
    text-align: center;
    width: 700px; 
    margin-left: auto; 
    margin-right: auto;
}

.client_line{
    width: 500px ;
    margin-left: auto; 
    margin-right: auto;
}

.testimonials_head{
  font-size: 50px;
  font-weight: bold;
  color: #292A77;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    background-color: #F2F3EF;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;

    border-bottom: 1px solid #C4C4C4;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 26px;
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */;
}
.contact_box{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    padding: 200px auto;
}

.contact_input{
  width: 100%;
  height: 40px;
  background-color: #F2F3EF;
  border: none;
  border-bottom: 1px solid;
  
}

.contact_input_msg{
  width: 100%;
  height: 90px;
  background-color: #F2F3EF;
  border: none;
  border-bottom: 1px solid;
}

.contact_float{
    
  
}

.contact_form{
  margin-top: 70px;
}

.block{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  font-size: 16px;
}
.block h2{
  position: relative;
  display: block;
  text-align: center;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 7vw;
  color: white;
  font-weight: 400;
}
.img-parallax {
  width: 100vmax;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-30%,0);
  pointer-events: none
}


/*Footer styles*/

.social_media_icons{
  padding: 15px;
  background-color: #292A77;
 color: #fff;
 border-radius: 60%;
 
}

.footer_social{
  position: relative;
  bottom: 0px;
}

.footer_row{
    
  background-color: #F2F3EF;
  padding-top: 70px;
  
}
.footer_img{
  position: relative;
  top: 70px;
}

.inate{
  position: relative;
  bottom: -70px;
}




/* homepage css end */


/* Inner pages css */
.inner_back{
background-image: url('../images/inner_background.png');
height: auto;
background-repeat: no-repeat;
}

.inner_page_shape{                                      
position: absolute;
top: 150px;
right: 0px;     
}

/* Inner pages css end */




/* Inner page product css */

/*Zoom In*/
.zoomIn{
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.zoomIn:hover{
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.flex{
  display: flex;
}

.modal-content{
  background-color: #F2F3EF;
}

#back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #292A77;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #back-to-top:hover {
    background-color: #555;
  }

  .call_me_button{
    
   width: 60px;
    position: fixed;
    bottom:90px;
    right: 30px;
    z-index: 99;
    
   
    border-radius: 4px;
  }

  .call_me_button :hover{
    background-color: #555;
  }
  .contact_button{
    
   
    position: fixed;
    bottom:150px;
    right: 30px;
    z-index: 99;
   
    border-radius: 4px;
  }

  #sidebar{
    display: none;
    position: fixed;
    bottom: 30%;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    text-align: right;
    width:11%;
    height: auto;
    background: rgba(255, 255, 255, 0.22);
    border-radius: 5px;
    padding: 10px 7px;
    backdrop-filter: blur(7.8px);
    -webkit-backdrop-filter: blur(7.8px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

  #sidebar a{
    text-decoration: none;
    color: #2f2b2b71;
    text-align: right;
    font-size: 15px;
  }

  #sidebar a.active{
    text-decoration: none;
    color: #380000;
    font-size: 20px;
  }

  #sidebar a:hover{
    text-decoration: none;
    color: #292A77;
    text-align: right;
    font-size: 18px;
    text-decoration: solid;
  }


.products_page_first_hr{
    width: 300px;
}

.products_page_top{
    margin-bottom: 40px;
}

.products_page_top_img{
    margin-bottom: 50px;
    margin-left: 110px;
}

.products_page_img{
  width: 60%;
  margin-left: 110px;
}

.products_page_top_middle_line{
    border-left: 1px solid black;
}

.inner_page_triangle_shape{                                      
    position: relative;
    top: 100px;
    right: 0px;
    width: 100%;
    }

.products_page_section_two{
    margin-top: 150px;
    margin-bottom: 50px;
    text-align: center;
}

.products_page_product_card{
    margin-bottom: 50px;
}

.products_page_product_card_text_part{
    padding: 0px 100px;
}

.products_page_product_card_info_text{
    font-weight: 600;
    color: #292A77;
}

.modal-input-container{
    display: flex;
}

.modal-input-container p{
    width: 70px;
}

/* products page section 3 css START */

.section3Images{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.section3Images img{
  width: 400px;
  margin: 0px 20px;
  border-radius: 5px;
}

/* products page top card css START */

.top-card-content {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
  }

  .top-card-content-main-title{
      color: rgb(252, 252, 252);
      text-decoration: none;
      position: absolute;
      bottom: 3%;
      text-align: center;
      width: 100%;
  }

  .top-card-content:hover .top-card-content-main-title{
    opacity: 0;
}
  
  .top-card-content .top-card-content-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  
  .top-card-content:hover .top-card-content-overlay{
    opacity: 1;
  }
  
  .top-card-content-image{
    width: 100%;
    height: 50%;
  }
  
  .top-card-content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .top-card-content:hover .top-card-content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
  }
  
  .top-card-content-details h3{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
  }
  
  .top-card-content-details p{
    color: #fff;
    font-size: 0.8em;
  }

  .fadeIn-bottom{
    top: 80%;
  }

  /* new */

  .price_slideshow{
  height: 30px;  
  }
  .product_price_mySlides {display: none}


  /* Slideshow container */
  .product_price_slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .product_price_prev, .product_price_next {
    cursor: pointer;
    position: absolute;
    top: 0px;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #898989;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    text-decoration: none;
  }
  
  /* Position the "next button" to the right */
  .product_price_next {
    left:49px;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .product_price_prev:hover, .product_price_next:hover {
    color:#292A77;
  }
  
  /* Caption text */
  .product_price_text {
    color: black;
    font-size: 16px;
    padding: 6px 35px;
    position: absolute;
    width: 100%;
    text-align: right;
  }

  .product_price_text1 {
    color: black;
    font-size: 16px;
    padding: 6px 35px;
    position: absolute;
    width: 100%;
    text-align: right;
  }

  .product_price_text2 {
    color: black;
    font-size: 16px;
    padding: 6px 35px;
    position: absolute;
    width: 100%;
    text-align: right;
  }

  .product_price_text3 {
    color: black;
    font-size: 16px;
    padding: 6px 35px;
    position: absolute;
    width: 100%;
    text-align: right;
  }

  .product_price_text4 {
    color: black;
    font-size: 16px;
    padding: 6px 35px;
    position: absolute;
    width: 100%;
    text-align: right;
  }

  .product_price_text5 {
    color: black;
    font-size: 16px;
    padding: 6px 35px;
    position: absolute;
    width: 100%;
    text-align: right;
  }
  
  /* Number text (1/3 etc) */
  .product_price_numbertext {
    color: black;
    font-size: 16px;
    padding: 8px 12px;
    position: absolute;
    top: -3px;
    left:90px;
  }

  .product_price_numbertext1 {
    color: black;
    font-size: 16px;
    padding: 8px 12px;
    position: absolute;
    top: -3px;
    left:90px;
  }

  .product_price_numbertext2 {
    color: black;
    font-size: 16px;
    padding: 8px 12px;
    position: absolute;
    top: -3px;
    left:90px;
  }

  .product_price_numbertext3 {
    color: black;
    font-size: 16px;
    padding: 8px 12px;
    position: absolute;
    top: -3px;
    left:90px;
  }

  .product_price_numbertext4 {
    color: black;
    font-size: 16px;
    padding: 8px 12px;
    position: absolute;
    top: -3px;
    left:90px;
  }

  .product_price_numbertext5 {
    color: black;
    font-size: 16px;
    padding: 8px 12px;
    position: absolute;
    top: -3px;
    left:90px;
  }
  
  
  /* Fading animation */
  .product_price_fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes product_price_fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes product_price_fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  /* products page top card css END */
/* Inner pages product css end */

/* google translate element start*/

.google-translate{
    width: 161px;
    background-color: #00ffff00;
    border: none;
}
/*abouts us page css */

.abouts_us_heading{
  font-size: 70px;
  font-weight:700;
  color: #292A77;
  margin-bottom: 0px;

}

.about_us_first_t{
  margin-top: 140px;
}

.certi_aboutus{
  width: 100px;
}

.about_first_img{
  position: relative;
  left: -59px;
  top: -119px;
}

.about_us_second_t{ 
  text-align: center;
}

.about_sec_text_section{
  padding-top: 30px;
}

.about_us_mission{
  padding: auto 200px;
}








/* Slider */

.slick-slide {
  margin: 0px 0px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider
{
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list
{
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus
{
  outline: none;
}
.slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slick-track
{
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after
{
  display: table;
  content: '';
}
.slick-track:after
{
  clear: both;
}
.slick-loading .slick-track
{
  visibility: hidden;
}

.slick-slide
{
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide
{
  float: right;
}
.slick-slide img
{
  display: block;
}
.slick-slide.slick-loading img
{
  display: none;
}
.slick-slide.dragging img
{
  pointer-events: none;
}
.slick-initialized .slick-slide
{
  display: block;
}
.slick-loading .slick-slide
{
  visibility: hidden;
}
.slick-vertical .slick-slide
{
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}






.testimonials {
  overflow: hidden;
  position: relative;
  max-height: 300px;
  color: #292A77;
  
}

.testimonials {
  
}

.one-slide,
.testimonial,
.message {
  border: none !important;
  outline: none !important;
  color: #292A77;
  border:  1px solid #292A77;
}



.carousel-controls .control {
  position: absolute;
  transform: translateY(-50%);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid rgb(13, 7, 71);
  z-index: 1;
  color: #292A77;
}

.prev {
  left: 0px;
}

.next {
  right: 0px;
}

@media screen and (max-width: 768px) {
  .testimonials {
    max-height: 700px;
  }
  .icon-overlay {
    height: 300px;
    top: calc(50% - 150px);
  }
  .carousel-controls .control {
    width: 25px;
    height: 25px;
    top: inherit;
  }
  .prev {
    left: 0;
  }
  .next {
    right: 0;
  }
  .control i {
    font-size: .7rem;
  }
  .testimonials .message {
    font-size: 1rem;
  }
  .testimonials h2 {
    font-size: 1.5rem;
  }
}



.wrapper {
  display: inline-flex;
  position:absolute;
  bottom: -50px; 
}

.wrapper .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #5cc1fc;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}


.container1 {
  display: flex;
  width: 100%;
  padding: 0px 0px;
  box-sizing: border-box;
  height: 100vh;
 margin-top: 50px;
}

.box1 {
  flex: 1;
  overflow: hidden;
  transition: 1s;
  
 
  line-height: 0;
}

.box1 > img {
  width: 200%;
  height: calc(100% - 10vh);
  object-fit: cover; 
  transition: 1s;
}

.box1 > span {
  font-size: 2.8vh;
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 2.6;
}

.box1:hover { flex: 1 1 50%; }
.box1:hover > img {
  width: 100%;
  
}






.wt-btn_sign {
  font-size: 18px;

  font-weight: 400;
  letter-spacing: -.21px;
  white-space: nowrap;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  -moz-transition: color .3s;
  transition: color .3s;
  line-height: 20px;  
  color: #ffffff;
  background: #292A77;
  border: none;
  height: 45px;
  padding: 0 0px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  border-radius: 4px;
}

.wt-btn_sign:hover {
  color: #292A77;
  background: #fff;
  }

.wt-btn_sign-bound {
  display: block;
  overflow: hidden;
}

.wt-btn_sign-bound span {
  position: relative;
  display: inline-block;
padding:0 22px;
      -webkit-animation: wt-btn_sign-marquee 2s linear infinite;
      -moz-animation: wt-btn_sign-marquee 2s linear infinite;
      -o-animation: wt-btn_sign-marquee 2s linear infinite;
      animation: wt-btn_sign-marquee 2s linear infinite;
}

.wt-btn_sign-bound span:after {
      content:attr(data-text);
      position: absolute;
      left: 100%;
      padding: 0 23px;
  }

@-webkit-keyframes wt-btn_sign-marquee {
  0% {
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0)
  }

  100% {
      -webkit-transform: translate3d(-100%,0,0);
      transform: translate3d(-100%,0,0)
  }
}

@-moz-keyframes wt-btn_sign-marquee {
  0% {
      -moz-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0)
  }

  100% {
      -moz-transform: translate3d(-100%,0,0);
      transform: translate3d(-100%,0,0)
  }
}

@-o-keyframes wt-btn_sign-marquee {
  0% {
      transform: translate3d(0,0,0)
  }

  100% {
      transform: translate3d(-100%,0,0)
  }
}

@keyframes wt-btn_sign-marquee {
  0% {
      -webkit-transform: translate3d(0,0,0);
      -moz-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0)
  }

  100% {
      -webkit-transform: translate3d(-100%,0,0);
      -moz-transform: translate3d(-100%,0,0);
      transform: translate3d(-100%,0,0)
  }
}


.box_team {
  position: relative;
  width: 15rem;
  height: 15rem;
  margin: 4rem;
}

 .box_team:hover .imgBox_team {
  transform: translate(-3.5rem, -3.5rem);
}

 .box_team:hover .content_team {
  transform: translate(4.5rem, 4.5rem);
}

.imgBox_team {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: all 0.5s ease-in-out;
}

.imgBox_team img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  resize: both;
}

.content_team {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  background-color: #fff;
  z-index: 1;
  align-items: flex-end;
  text-align: center;
  transition: 0.5s ease-in-out;
}

.content_team h2 {
  display: block;
  font-size: 2rem;
  color: #111;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 1px;
  margin-top: 10px;
}

.content_team span {
  color: #555;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 2px;
}

@media (max-width: 600px) {
  .container .box_team:hover .content_team {
    transform: translate(0, 3.5rem);
  }
  .container .box_team:hover .imgBox_team {
    transform: translate(0, -3.5rem);
  }
}
.container_team {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}







